/* css document */


h1{
	color: mediumpurple;
	text-align: center;
	text-decoration:underline; 
	font-weight:bold; 
	text-transform:uppercase; 
	letter-spacing:.2em; 
}

h2, h4 {
	color: mediumpurple;
}


body {
	background: lavender;	
	font-family: arial, serif;
}

.nav_bar {
	width: 860px;
	margin:  auto;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
.nav_bar a {
	color: rebeccapurple;
	text-decoration: none;
}

.nav_bar a:hover {
	color: blueviolet;
	text-decoration: underline;
}

.profile {
	border: 5px solid blueviolet;
	margin: 10px;
	float: right;
	margin-right: 100px;
	margin-bottom: 600px;
	
}

.resume{
	margin-left: 375px;
	margin-right: 500px;
	align-content: center;

}

.wisco {
	border: 5px solid blueviolet;
	margin: 10px;
	float:right;	
}

.Italy{
	margin: 10px;
	float: right;
	margin-bottom: 200px;
	margin-right: 100px;
}



body{
	margin: 10px;

}


#box1{
	border: 5px solid;
	width: 250px;
	height: 170px;
	font-size: 15px;
	background: plum;
	padding: 10px;
	margin-top: 50px;
}

#box2{
	border: 5px solid;
	width: 400px;
	height: 200px;
	font-size: 15px;
	background: lightpink;
	padding: 10px;
	margin-left: 400px;
}

#box3{
	border: 5px solid;
	width: 300px;
	height: 225px;
	font-size: 15px;
	background: lightcoral;
	padding: 10px;
}

#box4{
	border: 5px solid;
	width: 700px;
	height: 225px;
	font-size: 15px;
	background: papayawhip;
	padding: 10px;
	margin-left: 400px;

}



